body{
	font-size: 0.8rem;
}

header{
  text-align: center;
}

.container{
  padding:30px 0;
}

.gm-list{

}

.add-gm{
	margin-right:40px;
}

.gm-list{
	width: 100%;
}


.costInput{
	width: 50px;
}

.gmSelect{
	width: 75px;
}